.container {
    margin-top: 1rem;
    min-width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orders-container {
    display: flex;
    flex-flow: column;
}

.order-item {
    width: 100%;
    height: auto;
    border-bottom: 1px solid gray;
    margin: 0.5rem 0 1rem 0;
    text-align: center;
}

.order-id {
    margin-bottom: 2rem;
}

.order-item span:not(:first-child) {
    margin-left: 1rem;
}

.order-item span:not(:last-child) {
    margin-right: 1rem;
}

.order-item span {
    margin-bottom: 5rem;
}

.order-product-img  {
    width: 10%;
    height: 100%;
}

.order-products {
    display: flex;
    border-bottom: 1px dotted yellow;

}

.slika {
    max-height: 50px;
    width: auto;
}

.menu-items {
    display: flex;
    margin-top: -0.9rem;
}

.menu-item-users {
    color: yellow;
    text-decoration: none;
}

nav a:not(:first-child) {
    margin-left: 2rem;
}

.nav-item {
    color: yellow;
}

.menu-items:nth-child(0) {
    margin-left: 10rem;
}

.fix-position {
    margin-right: 2rem;
}

.search-input {
    padding: 1.4rem !important;
    outline-color: yellow;
}

.search-input:focus {
    outline:none;
}

.new-user-btn {
    padding-right: 1rem;
}

.reset-pass-btn {
    padding: 1.5rem 2rem 1.5rem 1rem;
}

.fa-fw {
    margin: 0 0.7rem;
}

.fa-fw + span {
    padding-right: 0.7rem;
}

.save-changes-btn {
    padding: 1rem 1.2rem 1rem 0.7rem;
}

.active-badge {
    width: 15px;
    height: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    color: rgb(76, 204, 76);
}

.tb-row:nth-child(even) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.tb-row:nth-child(odd) {
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
}

.users-nav {
    width: 90%;
    margin-top: -2rem;
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 142);
    padding-top: 1rem;
    font-size: 1.2rem;
    position: relative;
    align-self: center;

}


.save-btn:hover {
    background-color: #E9E3C3;
    color: black;
    
  }
  
  .save-btn:active {
    animation: disappear-btn 1s ease-out;
  }
  
  
  .save-btn {
    background-color: black;
    color: #ffff00;
    font-size: 1rem;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    white-space: nowrap;
    outline: rgb(180, 180, 90) solid 1px;
    border: none;
  }


@media(max-width: 991px) {
    .new-user-btn {
        max-height: 30px;
        margin-top: 0.5rem;
    
    }
}

@media(max-width: 460px) {
    .user-id {
        display: none;
    }
}

@media(max-width: 390px) and (min-width: 350px){
    .container {
        margin-left: -1.3rem;
    }

    #profile {
        width: 106vw;
    }
}

@media(max-width: 350px) {
    .dont-show-username {
        display: none;
    }
}
