<div class="details-container">
   
    <div class="product-container">
        <div class="image">
            <img src="{{ product.imageUrl }}" alt="sličica" class="detail-img" />

        </div>

        <div class="the-rest">

            <h3>{{ product.name }}</h3>
            <button (click)="addToCart()" class="black-btn">Add to cart</button>
      
            <hr/>
            <h4>Desccription</h4>
            <p class="description">{{ product.description }}</p>
      
            <a routerLink="/products" class="link-back">Back to Product list</a>

        </div>
      
    </div>
    
</div>
  