<div class="container">
    <div class="d-flex justify-content-center h-50">
        <div class="register-box">
          <img src="../../../../assets/images/bg/register-bg.jpg" alt="image here" class="register-img">
          <div class="d-flex justify-content-center">
              <h3 class="register-text">Register</h3>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)" autocomplete class="register-form">
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-user firstName-icon"></i></span>
                </div>
                <input type="text" class="form-control" name="firstName" placeholder="First name" required ngModel #firstNameInput="ngModel">
              </div>
              <span class="warning-msg" *ngIf="firstNameInput.invalid && firstNameInput.touched">Please enter first name</span>
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-user firstName-icon"></i></span>
                </div>
                <input type="text" class="form-control" name="lastName" placeholder="Last name" required ngModel #lastNameInput="ngModel">
              </div>
              <span class="warning-msg" *ngIf="lastNameInput.invalid && lastNameInput.touched">Please enter last name</span>

              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                </div>
                <input type="text" class="form-control" name="username" placeholder="Username" required ngModel #usernameInput="ngModel">
              </div>
              <span class="warning-msg" *ngIf="usernameInput.invalid && usernameInput.touched">Please enter the username</span>

              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="text" class="form-control" name="email" placeholder="Email" required ngModel #emailInput="ngModel">
              </div>
              <span class="warning-msg" *ngIf="emailInput.invalid && emailInput.touched">Please enter email.</span>

              <div class="input-group mb-3 pass-input">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" name="password" placeholder="Password" required ngModel #passwordInput="ngModel">
              </div>
              <span class="warning-msg" *ngIf="passwordInput.invalid && usernameInput.touched">Please enter password</span>

          <div class="d-flex justify-content-center mt-3 login_container">
            <button [disabled]="registerForm.invalid || showLoading" type="submit" name="button" class="register-btn">
              <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
              <span *ngIf="showLoading">Loading...</span>
              <span class="btn-text" *ngIf="!showLoading">Register</span>
            </button>
          </div>
        </form>
      </div>
          <div class="mt-4">
            <div class="d-flex justify-content-center links">
              Already have an account? <a routerLink="/login"  class="ml-2" style="color: #2C3E50;">Log In</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  