.order-card {
    color: #fff;
  }
  
  .bg-c-blue {
    background: linear-gradient(45deg,#007bff,#007bff);
  }
  
  .bg-c-green {
    background: linear-gradient(45deg,#28a745,#28a745);
  }
  
  .bg-c-yellow {
    background: linear-gradient(45deg,#fd7e14,#fd7e14);
  }
  
  .bg-c-pink {
    background: linear-gradient(45deg,#dc3545,#dc3545);
  }
  
  .actuator-container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .card .card-block {
    padding: 25px;
  }
  
  .order-card i {
    font-size: 26px;
  }
  
  .f-left {
    float: left;
  }
  
.system-info-items {
  display: flex;
  align-items: center;
  justify-content: center;
}



.refresh-bth:visited {
  font-size: 1.25rem;
    background-color: #E9E3C3 !important;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    color: black;
    padding: 0.5rem 0.5rem;
    white-space: nowrap;
    outline: rgb(180, 180, 90) solid 1px;
    border: none;
}

span {
  margin-right: 1rem;
}
  
.http-response-container {
  width: 100%;
  margin-top: 2rem;
}

.response-cards-container {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.response-card {
  background-color: black !important;
  color: yellow;
  width: 23%;
  height: 9.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.response-card:not(:last-child) {
  margin-right: 1rem;
}

.response-info-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 1rem;
}

.response-info-container span {
  margin-left: -4rem;
}

.response-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.response {
  align-self: start;
  padding-right: 10rem;
  padding-top: 0.4rem;
  font-size: 1.2rem;
  white-space: nowrap
}

.response-number {
  border: 1px solid rgb(20, 184, 20);
  color: rgb(94, 245, 94);
  border: none;
}

.response-number-blue {
  border: 1px solid rgb(172, 192, 209);
  color: rgb(162, 184, 202);
  border: none;
}

.response-number-orange {
  border: 1px solid rgb(255, 185, 55);
  color: rgb(255, 185, 55);
  border: none;
}

.response-number-red {
  border: 1px solid red;
  color: red;
  border: none;
}

.last-updated-container {
  margin: 1rem 0 0 1rem;
}

.canvas-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.canvas-container div {
  width: 50%;
}

.color-pagi {
  background-color: rgb(233,227,195) !important;
}

.ngx-pagination .current {
  background: rgb(233,227,195) !important;

}

.actutor-nav {
  align-self: center;
  width: 90%;
  margin-top: -2rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: rgb(255, 255, 142);
  padding-top: 1rem;
  font-size: 1.2rem;
  position: relative;
}

.title {
  position: absolute;
  left: 2rem;
  border-right: 1px dotted yellow;
  padding-right: 2rem;

}

.refresh-btn {
  position: absolute;
  right: 0.12rem;
  top: 0.12rem;
  height: 3rem;
}

.new-refresh-btn {
  position: absolute;
  right: -5rem;
  top: 0rem;
  height: inherit;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.2rem !important;

}

.http-traces-container {
  padding: 2rem;
}


@media(max-width: 800px) {
    
  .actutor-nav {
    width: 90%;
    margin-top: -2rem;
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 142);
    padding-top: 1rem;
    font-size: 1.2rem;
    position: relative;
  }
  
  .title {
    display: none;
  }

  .up-time {
    display: none;
  }
}

@media(max-width: 614px) {
  .system {
    font-size: 1rem;
  }

  .system span i {
    margin-left: -1.3rem;
  }
}

@media(max-width: 1250px) {
  .response-card {
    width: 20rem;
  }
}

@media(max-width: 1000px) {
  .actutor-nav {
  width: 80%;
  }

  .d-non {
    display: none;
  }
}

@media(min-width: 628px) and (max-width: 929px) {
  .response-card {
    min-width: 40%;
  }

  .response-card:nth-child(3) {
    margin-left: -1rem;
  }

}

@media(max-width: 780px) {

}

@media(max-width: 627px) {
  .response-card {
    min-width: 95%;
  }

  .actutor-nav {
    margin-left: -5rem;
  }

  .response-card:nth-child(4) {
    margin-left: -1rem;
  }

  .canvas-container {
    display: block;
    min-width: 100%;
  }

  .pie-chart {
    min-width: 100%;
  }

  .bar-chart {
    min-width: 100%;
  }
  
  
}