<div class="allround-container">
  <div class="product-categories-container">
    <ul class="side-menu-ul">
      <li *ngFor="let productCategory of productCategories">
        <a
          routerLink="category/{{ productCategory.id }}"
          routerLinkActive="active-link"
          (click)="onClick(productCategory.categoryName!)"
          class="side-link"
        >
          <i class="fa fa-gift"></i>
          <strong class="the-links">
            {{ productCategory.categoryName }}
          </strong>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="isHeAuthenticated && isHeAuthorized" class="users-i-actuator-container">
    <div class="users features">
      <a routerLinkActive="active-link" routerLink="/user/management" class="features-anchor">User Management</a>
    </div>

    <div class="actuator features">
      <a routerLinkActive="active-link" routerLink="/add-product-form" class="features-anchor">Add Product</a>
    </div>
    
    <div class="actuator features">
      <a routerLinkActive="active-link" routerLink="/actuator" class="features-anchor">Actuator</a>
    </div>
  </div>
</div>
