<notifier-container [ngClass]="{ 'finally-notifier': notify }" class="notifier"></notifier-container>

  <div class="product-container">


    <div class="product-row">

      <div *ngFor="let tempProduct of products" class="product">
        <div class="product-box">
          <button class="delete-btn btn-danger" *ngIf="showButton" (click)="onDelete(tempProduct.id)">Delete</button>
          <button class="update-btn addToCart-button" (click)="onUpdate(tempProduct.id)">Update</button>
          <a routerLink="/products/{{ tempProduct.id }}">
            <img src="{{ tempProduct.imageUrl }}" class="img-product" />
          </a>

          <a routerLink="/products/{{ tempProduct.id }}" class="product-name">
            <p>{{ tempProduct.name }}</p>
          </a>
          <div class="price-and-button">
            <div class="price">{{ tempProduct.unitPrice | currency: "USD" }}</div>
            <button (click)="addToCart(tempProduct)" class="addToCart-button">
              Add to cart
            </button>
          </div>
          <p>{{ tempProduct.categoryId }}</p>
        </div>
      </div>

      <div
        *ngIf="products?.length == 0"
        class="alert alert-warning"
        role="alert"
      >
        No products found
      </div>
    </div>

    <div class="footer-pagination">
      <div class="row">
        <div class="col-md-6"></div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-9" style="padding-left: 30%">
              <ngb-pagination
                [(page)]="thePageNumber"
                [pageSize]="thePageSize"
                [collectionSize]="theTotalElements"
                [maxSize]="5"
                [boundaryLinks]="true"
                (pageChange)="listProducts()"
              >
              </ngb-pagination>
            </div>

            <div class="col-md-3 mt-2" style="text-align: right">
              <span class="mr-2">Page Size</span>

              <select (change)="updatePageSize($any($event.target).value)">
                <option selected="true">2</option>
                <option selected="true">5</option>
                <option selected="true">10</option>
                <option selected="true">20</option>
                <option selected="true">50</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

