<div class="main-content">
    <div class="main-container-item">
        <div class="container-fluid">

            <div *ngIf="cartItems.length > 0">
                <table class="table">
                    <tr class="columns-container">
                        <th class="column-1">Product image</th>
                        <th class="column-2">Product details</th>
                        <th class="column-3">Increase/Remove</th>
                    </tr>

                    <tr *ngFor="let item of cartItems" class="my-table-row">
                        <td>
                            <img src="{{ item.imageUrl }}" alt="image" class="cart-item-img">
                        </td>
                        <td>
                            <p>{{ item.name }}</p>
                            <p>{{ item.unitPrice | currency: 'USD' }}</p>
                        </td>
                        <td>
                            <p class="quantity-title">Quantity:</p>
                            <div class="increase-quantity-container">
                                <button (click)="decrementQuantity(item)"
                                        class="black-btn">
                                        <i class="fas fa-minus"></i>
                                </button>

                                <div class="quantity">
                                    {{ item.quantity}}
                                </div>

                                <button (click)="incrementQuantity(item)"
                                        class="black-btn">
                                        <i class="fas fa-plus"></i>
                                </button>

                                <button (click)="remove(item)" class="black-btn-imp"
                                        >Remove
                                </button>
                            </div>
                            
                            <p class="subtotal">Subtotal: {{ item.quantity * item.unitPrice | currency: 'USD'}}</p>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td style="font-weight: bold" class="totals">
                            <p>Total Quantity: {{ totalQuantity }}</p>
                            <p>Shipping: FREE</p>
                            <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
                            <a 
                                routerLink="/checkout" 
                                class="black-btn-imp"
                                >Checkout</a>
                        </td>
                    </tr>
                </table>
             </div>
        <div *ngIf="cartItems.length == 0" class="alert alert-warning" 
                role="alert">The cart is empty</div>

        </div>
    </div>
</div>
