header {
    min-height: 8rem;
    width: 100%;
    background-color: gray;
}

.main-section {
    width: 100%;
    height: 100%;
}

.main-section-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 100%;
    margin: auto;

}

.side-menu {
    border: 1px solid red;
    width: 20%;
    height: 60rem;
}

.main-content {
    border: 1px solid red;
    width: 80%;
    height: 100vh;
}

/* SIDE MENU HOOKUP */


