<section class="header-section">

    <header>
        <app-search class="search-input"></app-search>

        <div *ngIf="loggedIn == true" class="login-button">Welcome {{ userName }}<i class="fas fa-user"></i></div>
        <div *ngIf="loggedIn == false">
            <a routerLink="/login" class="login-button">Login</a>
        </div>

        <app-cart-status class="cart-status"></app-cart-status>
    </header>

</section>

<section class="main-section">

    <div class="main-section-container">

        <div class="side-menu">
            <app-product-category-menu></app-product-category-menu>

        </div>

        <div class="main-content">

            <router-outlet></router-outlet>
        </div>

    </div>

</section>



