header {
    display: flex;
    align-items: center;
    height: 6rem;
    background-color: black;
    border: 2px solid yellow;
    border-top: none;
    position: relative;
    overflow: visible;
    z-index: 40;
}

.header-section {
    overflow: visible;

}

.search-input {
    flex: 3 1 20rem;
}

.main-section {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.main-section-container {
    display: flex;
    flex-direction: column;
    width: 89.3%;
    height: 100%;
    margin-left: 4.7vw;
}

.main-section-portfolio {
    margin-left: -14rem;
}

.cart-status {
    color: white;
    padding-right: 1rem;
    right: 12rem;
    top: 2rem;
    font-size: 1.6rem;
}

/* SIDE MENU HOOKUP */


