<section class="header-section">

    <header>
        <app-search class="search-input"></app-search>

        <app-login-status></app-login-status>

        <app-cart-status class="cart-status"></app-cart-status>
    </header>

</section>

<section class="main-section">

    <div class="main-section-container">

        <div class="side-menu">
            <app-product-category-menu></app-product-category-menu>

        </div>

        <div class="main-content">

            <router-outlet></router-outlet>
        </div>

    </div>

</section>



