.bn30 {
    border: 1rem;
    cursor: pointer;
    outline: none;
    font-size: 1.8rem;
    -webkit-transform: translate(0);
    transform: translate(0);
    padding: 0.7rem 2rem;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: black;
    clip-path: polygon(0 0, 96.5% 0, 100% 100%, 3.5% 100%);
  }

  .bn30::placeholder {
      color: gray;
      opacity: 0.3;
  }

  .search-form {
      display: flex;
      margin-left: 3rem;
  }

  .bn32 {
    border: 1rem;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    transform: translate(0);
    padding: 0.7em 2em;
    background-color: rgb(63, 63, 11);
    color: white;
    clip-path: polygon(0 0, 93% 0%, 100% 100%, 6.5% 100%);
  }

  .b32:hover {
    background-color: yellow;
  }
  
  
