@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css';
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.my-navbar {
    width: 90% !important;
    margin-left: 5rem;
    margin-top: -2rem;
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black !important;
    color: rgb(255, 255, 142);
    padding-top: 1rem;
    font-size: 1.2rem;
  }

.main-container {
    display: grid;
    grid-template-columns: 100vw;
}

.notifier {
    display: none;
}

.finally-notifier {
    z-index: 50;
    display: inline-block;
    visibility: visible;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1rem;
    padding-right: 2rem;
    position: fixed;
    color:rgb(250, 250, 115);
    width: 30rem;
    font-size: 1.6rem;
    left: -33rem;
    top: 25rem;
    -webkit-box-shadow: 5px 5px 20px -1px rgba(0,0,0,0.95); 
    box-shadow: 5px 5px 20px -1px rgba(0,0,0,0.95);
    animation: 4s notifier-anime;
}

@keyframes notifier-anime {
    0% {
        left: -30rem;
    }
    
    10% {
        left: 0;
    }
    
    90% {
        left: 0;
    }
    
    100% {
        left: -30rem;
    }
}

.addToCart-button {
    font-size: 1.25rem;
    background-color: #E9E3C3;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    color: black;
    padding: 0.5rem 0.5rem;
    white-space: nowrap;
    outline: rgb(180, 180, 90) solid 1px;
    border: none;
}

.addToCart-button:hover {
    background-color: black;
    color: #ffff00;
}

.ngx-pagination .current {
    background: rgb(233,227,195) !important;
  }

.ngx-pagination:hover .current:hover {
    background-color: black;
    color: yellow;
}

.nav-pills .nav-link.active {
    color: black !important;
    background-color: #E9E3C3 !important;
}

