<div class="checkout-container">

    <img src="../../../assets/images/bg/checkout-background.jpg" alt="background" class="bg-image">

    <div class="checkout-form-container">

        <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

            <!-- customer form group -->
            <div formGroupName="customer" class="">
                <h3>Customer</h3>

                <div class="control-container">
                    <div class="input-label"> 
                        <label>First Name</label>
                    </div>
                    <div class="input-field">
                        <input formControlName="firstName" type="text" class="the-control">

                        <div *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)" >

                            <div *ngIf="firstName!.errors?.required || firstName!.errors?.notOnlyWhitespace">
                                First Name is required
                            </div>

                            <div *ngIf="firstName!.errors?.minlength">
                                First Name must be at least 2 characters long
                            </div>

                        </div>
                    </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>Last Name</label></div>
                        <div class="input-field">
                            <input formControlName="lastName" type="text" class="the-control">

                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">

                                <div *ngIf="lastName.errors.required">
                                    Last Name is required
                                </div>

                                <div *ngIf="lastName.errors.minlength">
                                    Last Name must be at least 2 characters long
                                </div>

                            </div>
                            
                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>Email</label></div>
                        <div class="input-field">
                            <input formControlName="email" type="text" class="the-control">

                            <div *ngIf="email.invalid && (email.dirty || email.touched)">

                                <div *ngIf="email.errors.required">
                                    Email is required
                                </div>

                                <div *ngIf="email.errors.pattern">
                                    Email must be a valid email address format
                                </div>

                            </div>

                        </div>
                </div>

            </div>

            <!-- shipping Address -->
            <div formGroupName="shippingAddress" class="form-area">
                <h3>Shipping Address</h3>

                <div class="control-container">
                    <div class="input-label"> <label>Country</label></div>
                        <div class="input-field">
                            <select formControlName="country" (change)="getStates('shippingAddress')" class="the-control">
                                <option *ngFor="let country of countries" [ngValue]="country">
                                    {{ country.name }}
                                </option>
                            </select>

                            <div *ngIf="shippingAddressCountry!.invalid && (shippingAddressCountry!.dirty || shippingAddressCountry!.touched)">
                                <div *ngIf="shippingAddressCountry!.errors?.required">
                                    Country is required
                                </div>
                            </div>

                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>Street</label></div>
                        <div class="input-field">
                            <input formControlName="street" type="text" class="the-control">

                            <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)">
                                <div *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhitespace">
                                    Street is required
                                </div>
                                <div *ngIf="shippingAddressStreet.errors.minlength">
                                    Street must be at least 2 characters long
                                </div>
                            </div>

                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>City</label></div>
                        <div class="input-field">
                            <input formControlName="city" type="text" class="the-control">

                            <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)">
                                <div *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhitespace">
                                    City is required
                                </div>
                                <div *ngIf="shippingAddressCity.errors.minlength">
                                    City must be at least 2 characters long
                                </div>
                            </div>

                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>State</label></div>
                        <div style="padding-right: 3.5rem;">
                            <select formControlName="state">
                                <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                    {{ state.name }}
                                </option>
                            </select>

                            <div *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)">
                                <div *ngIf="shippingAddressState.errors.required">
                                    State is required
                                </div>
                            </div>
                            
                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>Zip Code</label></div>
                        <div class="input-field">
                            <input formControlName="zipCode" type="text" class="the-control">

                            <div *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)">
                                <div *ngIf="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.notOnlyWhitespace">
                                    Zip code is required
                                </div>
                                <div *ngIf="shippingAddressZipCode.errors.minlength">
                                    Zip code must be at least 2 characters long
                                </div>
                            </div>

                        </div>
                </div>

            </div>

            <!-- Add check box to copy shipping to billing -->
            <div class="input-space input-label">
                <label class="au-checkbox">
                    <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                    <span class="au-checkmark" style="padding-right: 0.5rem"></span>Billing Address same as Shipping Address
                </label>
            </div>


            <!-- Billing Address -->
            <div formGroupName="billingAddress" class="form-area">
                <h3>Billing Address</h3>

                <div class="control-container">
                    <div class="input-label"> <label>Country</label></div>
                        <div class="input-field">
                            <select formControlName="country" (change)="getStates('billingAddress')" class="the-control">
                                <option *ngFor="let country of countries" [ngValue]="country">
                                    {{ country.name }}
                                </option>
                            </select>

                            <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)">
                                <div *ngIf="billingAddressCountry.errors.required">
                                    Country is required
                                </div>
                            </div>

                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>Street</label></div>
                        <div class="input-field">
                            <input formControlName="street" type="text" class="the-control">

                            <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)">
                                <div *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.notOnlyWhitespace">
                                    Street is required
                                </div>
                                <div *ngIf="billingAddressStreet.errors.minlength">
                                    Street must be at least 2 characters long
                                </div>
                            </div>

                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>City</label></div>
                        <div class="input-field">
                            <input formControlName="city" type="text" class="the-control">

                            <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)">
                                <div *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.notOnlyWhitespace">
                                    City is required
                                </div>
                                <div *ngIf="billingAddressCity.errors.minlength">
                                    City must be at least 2 characters long
                                </div>
                            </div>

                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>State</label></div>
                        <div style="padding-right: 3.5rem">
                            <select formControlName="state">
                                <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                    {{ state.name }}
                                </option>
                            </select>

                            <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)">
                                <div *ngIf="billingAddressState!.errors?.required">
                                    State is required
                                </div>
                            </div>

                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>Zip Code</label></div>
                        <div class="input-field">
                            <input formControlName="zipCode" type="text" class="the-control">

                            <div *ngIf="billingAddressZipCode!.invalid && (billingAddressZipCode!.dirty || billingAddressZipCode!.touched)">
                                <div *ngIf="billingAddressZipCode!.errors?.required || billingAddressZipCode!.errors?.notOnlyWhitespace">
                                    Zip code is required
                                </div>

                                <div *ngIf="billingAddressZipCode!.errors?.minlength">
                                    Zip code must be at least 2 characters long
                                </div>
                            </div>

                        </div>
                </div>

            </div>

            <!-- Credit Card -->
            <div formGroupName="creditCard" class="form-area">
                <h3>Credit Card</h3>

                <div class="control-container">
                    <div class="input-label"> <label>Card Type</label></div>
                        <div class="input-field">
                            <select formControlName="cardType" class="the-control">
                                <option>Visa</option>
                                <option>Mastercard</option>
                            </select>

                            <div *ngIf="creditCardType!.invalid && (creditCardType!.dirty || creditCardType!.touched)">
                                <div *ngIf="creditCardType!.errors?.required">
                                    Credit card type is required
                                </div>
                            </div>

                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>Name on Card</label></div>
                        <div class="input-field">
                            <input formControlName="nameOnCard" type="text" class="the-control">

                            <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)">
                                <div *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlyWhitespace">
                                    Name is required
                                </div>

                                <div *ngIf="creditCardNameOnCard.errors.minlength">
                                    Name must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>Card Number</label></div>
                        <div class="input-field">
                            <input formControlName="cardNumber" type="text" class="the-control">

                            <div *ngIf="creditCardNumber!.invalid && (creditCardNumber!.dirty || creditCardNumber!.touched)">
                                <div *ngIf="creditCardNumber!.errors?.required">
                                    Card number is required
                                </div>
                                <div *ngIf="creditCardNumber!.errors?.pattern">
                                    Card number must be 16 digits long
                                </div>
                            </div>
                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>Security Code</label></div>
                        <div class="input-field">
                            <input formControlName="securityCode" type="text" class="the-control">

                            <div *ngIf="creditCardSecurityCode!.invalid && (creditCardSecurityCode!.dirty || creditCardSecurityCode!.touched)">
                                <div *ngIf="creditCardSecurityCode!.errors?.required">
                                    Security code is required
                                </div>
                                <div *ngIf="creditCardSecurityCode!.errors?.pattern">
                                    Security code must be 3 digits long
                                </div>
                            </div>
                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>Expiration Month</label></div>
                        <div class="input-field">
                            <select formControlName="expirationMonth" class="the-control">
                                <option *ngFor="let month of creditCardMonths">
                                    {{ month }}
                                </option>
                            </select>
                        </div>
                </div>

                <div class="control-container">
                    <div class="input-label"> <label>Expiration Year</label></div>
                        <div class="input-field">
                            <select formControlName="expirationYear" (change)="handleMonthsAndYears()" class="the-control">
                                <option *ngFor="let year of creditCardYears">
                                    {{ year }}
                                </option>
                            </select>
                        </div>
                </div>

            </div>

            <!-- Order details -->
            <div class="form-area">
                <h3>Review Your Order</h3>

                <p class="input-label">Total Quantity: {{ totalQuantity }}</p>
                <p class="input-label">Shipping: FREE</p>
                <p class="input-label">Total Price: {{ totalPrice | currency: 'USD' }}</p>
            </div>

            <!-- submit button-->
            <div class="text-center">
                <button type="submit" class="addToCart-button" style="margin-bottom: 1rem;">Purchase</button>
            </div>

        </form>

    </div>
    
</div>
        
        
